*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(217, 54%, 11%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: "Outfit", sans-serif;
}
.card{
    background-color: hsl(216, 50%, 16%);
    padding: 20px;
    border-radius: 16px;
    width: 340px;
    box-shadow: 2px black;
}
.img{
    object-fit: contain;
    border-radius: 12px;
    width: 300px;
}
.card-content{
    margin-top: 20px;
}
.head{
    color: white;
    opacity: 80%;
    margin-bottom: 15px;
}
.para{
    color: hsl(215, 51%, 70%);
    font-size: 18px;
    margin-bottom: 24px;
}
.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.eth{
    display: flex;
    align-items: center;
    gap: 10px;
}
.eth-text{
    color: hsl(178, 100%, 50%);
}
.eth-time{
    color: hsl(215, 51%, 70%);
}
hr{
    margin-top: 20px;
    border: none;
    height: 1px;
    background-color: hsl(215, 51%, 70%);
    opacity: 30%;
}
.card-avatar{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 15px;
}
.avatar{
    width: 50px;
    border: solid 1px white;
    border-radius: 100px;
}
.avatar-text{
    color: hsl(215, 51%, 70%);
}
span{
    color: white;
}